#!/bin/bash
#
#
# chkconfig: 2345 98 1
# description: Grafana Alloy service
# processname: grafana-alloy

# Source function library
. /etc/rc.d/init.d/functions

CONFIG_FILE="{{ grafana_alloy_install_dir }}/etc/grafana-alloy.alloy"
GRAFANA_ALLOW_BIN="{{ grafana_alloy_install_dir }}/bin/alloy-linux-amd64"
PID_FILE="{{ grafana_alloy_install_dir }}//var/run/grafana-alloy.pid"

start() {
    echo -n "Starting Grafana Alloy service"
    HOSTNAME="{{ inventory_hostname }}"
    AGENT_DEPLOY_MODE="rpm"
    cd {{ grafana_alloy_install_dir }}/var/lib/grafana-alloy

    # Remove any existing pid file
    [ -f $PID_FILE ] && rm -f $PID_FILE

    nohup $GRAFANA_ALLOW_BIN run --server.http.listen-addr=127.0.0.1:{{ grafana_alloy_http_port }} --storage.path={{ grafana_alloy_install_dir }}/var/lib/grafana-alloy --disable-reporting {{ grafana_alloy_args }} $CONFIG_FILE >> {{ grafana_alloy_install_dir }}/var/log/grafana-alloy.log 2>&1 &
    RETVAL=$?
    echo
    if [ $RETVAL -eq 0]; then
        echo $! > $PID_FILE
    fi
    return $RETVAL
}

stop() {
    echo -n "Stopping Grafana Alloy service"
    if [ -f $PID_FILE ]; then
        PID=$(cat $PID_FILE)
        kill $PID
        RETVAL=$?
        echo
        [ $RETVAL -eq 0 ] && rm -f $PID_FILE
    else
        echo "PID file not found!"
        RETVAL=1
    fi
    return $RETVAL
}

reload() {
    stop;
    start;
}

restart() 
    stop;
    start;
}

case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    restart)
        restart
        ;;
    reload)
        reload
        ;;
    *)
        echo "Usage: $0 {start|stop|restart|reload}"
        exit 1
esac

exit $RETVAL
